<div class="container">
  <div class="login">
    <img class="logo" src="../../../assets/multisnake_letter_logo_no_background_ultra_cropped.png" />

    <form class="login_form" (submit)="onSubmit($event)">
      <input [(ngModel)]="username" name="username" class="textbox" type="text" placeholder="Username" />
      <input [(ngModel)]="password" name="password" class="textbox" type="password" placeholder="Password" />
      <button name="login_button" type="submit">SIGN IN</button>
      <!-- <a class="cta" href="/login"><button type="submit">SIGN IN</button></a> -->
      <div class="register">
        <span class="register_text">Don't have an account yet? </span>
        <a routerLink="/register">Register now</a>
      </div>
    </form>
  </div>
</div>
