<header>
  <a href="">
    <img class="logo" src="../../../assets/multisnake_letter_logo_no_background_ultra_cropped.png" alt="logo" />
  </a>
  <div class="scores">
    <div class="score">Score: {{ score || 0 }}</div>
    <div class="score">High Score: {{ highScore || 0 }}</div>
  </div>
  <div class="nav_right">
    <nav>
      <ul class="nav_links">
        <li>
          <a routerLink="" *ngIf="user">{{ user.username }}</a>
        </li>
      </ul>
    </nav>
    <a class="cta" (click)="logout()"><button>Sign out</button></a>
  </div>
</header>
