<div class="container">
  <div class="register">
    <img class="logo" src="../../../assets/multisnake_letter_logo_no_background_ultra_cropped.png" />

    <form class="register_form">
      <input class="textbox" type="text" placeholder="Username" />
      <input class="textbox" type="email" placeholder="Email" />
      <input class="textbox" type="password" placeholder="Password" />
      <button type="submit">REGISTER</button>
      <!-- <a class="cta" href="/register"><button type="submit">REGISTER</button></a> -->
      <div class="login">
        <span class="login_text">Already have an account? </span>
        <a routerLink="/login">Sign in</a>
      </div>
    </form>
  </div>
</div>
